<!--<%= render "navbar" %>-->

<div class="container mt-3">
  <div class="row">
    <div class="mx-auto mb-3"><h1>Edit Customer</h1></div>
  </div>

  <%= render "form", customer: @customer %>

  <br>

  <div>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <%= link_to "Show this customer", @customer, class: "btn btn-secondary" %>          
        </div>
      </div>
    </div>
  </div>
</div>