<div id="<%= dom_id order %>">
  <% session[:order_id] = order.id %>
  <p>
    <strong>Customer email:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
