<h1>Foods#show</h1>
<p>Find me in app/views/foods/show.html.erb</p>
<p>Food name: <%= @food.name %></p>
<p>Food name: <%= @food.price %></p>
<p>Food name: <%= @food.description %></p>
<button><%= link_to 'Back', :back %></button>